<a href="/cameras/add/<%= provider.id %>" class="provider-card">
    <h3><%= provider.label %></h3>
    <p class="provider-card__description"><%= provider.description %></p>
    <span class="provider-card__action">Add</span>
</a>